<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943681548270-prspg96dp0ijtsqjlldvkfmfldqbba5a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943681548270-prspg96dp0ijtsqjlldvkfmfldqbba5a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943681548270-3v2dcsk2rs4vf6svi0j43j0eufm9m77u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBXkvK1gWbZaF37kwiB3kun-6BRkod9YuY</string>
	<key>GCM_SENDER_ID</key>
	<string>943681548270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twasl</string>
	<key>PROJECT_ID</key>
	<string>flutter-udemy-ea2a2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-udemy-ea2a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943681548270:ios:19f715284c9b9fe12128ff</string>
</dict>
</plist>